.hidden{
    display:none;
}

body {
    --sky-color: #CDE5E5;
    --grass-color: #93C808;
    --yellow-color: #FFDE59;
    --purple-color: #6500B4;
    margin: 0;
    background-color: var(--sky-color);
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}

div {
    position: relative;
}

img, button {
    max-width: 100%;
    position: absolute;
}

button {
    border-radius: 30px;
    border: 3.5px solid black;
    width: fit-content;
    padding: 10px 6px 10px 10px;
    background-color: white;
    color: var(--purple-color);
}

.arrow {
    color: black;
    padding-top: 20px;
} 
/* page 1 */
#logo {
    width: 60%;
    top: 4vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#pg-one-hill {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#pg-one-goose {
    position: fixed;
    width: 40%;
    bottom: 20px;
    left: -35px;
}

#pg-one-lemonade {
    position: fixed;
    width: 25%;
    right: -20px;
    bottom: 40px;
    
}

#pg-one-cloud-one {
    width: 30%;
    right: -60px;
}

#pg-one-cloud-two {
    width: 35%;
    left: -60px;
    top: -10px;
    z-index: -1;
}

#pg-1-opt-1 {
    /* border-radius: 30px;
    border: 3.5px solid black;
    width: fit-content;
    padding: 10px 6px 10px 10px;
    background-color: white;
    color: var(--purple-color); */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    top: 80vh;
}

/* page two */
#pg2 {
    background-color: var(--grass-color);
    min-height: 130vh;
    top: -30px;
}

#pg-two-goose {
    position: fixed;
    width: 35%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px;
    z-index: 1;
}

#pg-two-lake {
    position: fixed;
    width: 40%;
    left: -100px;
    bottom: 30px; 
    z-index: 0;
}

#pg-two-road {
    position: fixed;
    width: 50%;
    bottom: -5px;
    right: 10px;
}

#pg-two-txt-1 {
    /* background-color: white; */
    position: fixed;
    top: 100px;
    left: 10%;
    background-color: white;
    padding: 8px 20px;
    border-radius: 4px;
}

#pg-two-txt-2 {
    position: absolute;
    top: 300px;
    left: 70%;
    background-color: white;
    padding: 8px 20px;
    border-radius: 4px;
}

.button-section {
    position: fixed;
    width: 100%;
    /* border: 1px solid blue; */
    height: 100px;
    bottom: 0px;
}

#pg-2-opt-1 {
    /* position: absolute; */
    left: 20%;
    
}

#pg-2-opt-2 {
    /* position: absolute; */
    right: 20%;
    
}

/* page 3 */
#pg-3-background {
    /* border: 1px solid black; */
    min-width: 100%;
    z-index: 0;

}

#pg-three-txt-1 {
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 8px 20px;
    border-radius: 4px;
}

#pg-three-txt-2 {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 2;
    color: white;
    background-color: var(--purple-color);
    padding: 8px 20px;
    border-radius: 4px;
}
#pg-3-goose {
    width: 30%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#pg-3-opt-1 {
    left: 50%;
    transform: translateX(-50%);
}

/* pg 4 */
#endscreen {
    position: relative;
    min-width: 100%;
    min-height: 100vh;
}

#pg-4-opt-1 {
    left: 50%;
    transform: translateX(-50%);
}

/* pg 5 */
#pg-5-background {
    /* background-image: url(assets/Images/lemonade_stand_and_hill.png); */
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    z-index: -2;
}

#pg-5-goose {
    z-index: -1;
    transform: scalex(-1);
    bottom: -30px;
    left: -50;
}

#pg-5-opt-1 {
    left: 20px;
}

#pg-5-opt-2 {
    right: 20px;
}
/* pg 6 */
#pg-6-goose {

}
#pg-6-opt-1{
    left: 50%;
    transform: translateX(-50%);
}

/* pg 7 */
#pg-7-lemonade {
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
    width: 70%;
}
#pg-7-opt-1 {
    left: 20px;
}

#pg-7-opt-2 {
    right: 20px;
}
/* pg 8 */
#pg-8-hill{
    width: 100%;
    z-index: -1;
}

#pg-8-opt-1 {
    left: 50%;
    transform: translateX(-50%);
}


/* 
button {
    border-radius: 20px;
    border: 3.5px solid black;
    width: fit-content;
    padding: 10px;
    padding-left: 12px;
    background-color: whitesmoke;
    color: var(--purple-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    top: 80vh;
}
