.hidden{
    display:none;
}

body {
    --sky-color: #CDE5E5;
    --grass-color: #93C808;
    --yellow-color: #FFDE59;
    --purple-color: #6500B4;
    margin: 0;
    background-color: var(--sky-color);
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}

div {
    position: relative;
}

img, button {
    max-width: 100%;
    position: absolute;
}
.arrow {
    color: black;
    padding-top: 20px;
} 
/* page 1 */
#logo {
    width: 60%;
    top: 4vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#pg-one-hill {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#pg-one-goose {
    position: fixed;
    width: 40%;
    bottom: 20px;
    left: -35px;
}

#pg-one-lemonade {
    position: fixed;
    width: 25%;
    right: -20px;
    bottom: 40px;
    
}

#pg-one-cloud-one {
    width: 30%;
    right: -60px;
}

#pg-one-cloud-two {
    width: 35%;
    left: -60px;
    top: -10px;
    z-index: -1;
}

#pg-1-opt-1 {
    border-radius: 30px;
    border: 3.5px solid black;
    width: fit-content;
    padding: 10px 6px 10px 10px;
    background-color: white;
    color: var(--purple-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    top: 80vh;
}

/* 
button {
    border-radius: 20px;
    border: 3.5px solid black;
    width: fit-content;
    padding: 10px;
    padding-left: 12px;
    background-color: whitesmoke;
    color: var(--purple-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    top: 80vh;
}
